root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{sqlite3,xlsx,xls,xlsm,zip,png,jpg,jpeg,gif,pdf,pyc}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
