__pycache__/
web_app2/uploads/
web_app2/outputs/
web_app2/cache/
web_app2/bug_reports/
deploy_bundle/web_app2/uploads/
deploy_bundle/web_app2/outputs/
deploy_bundle/web_app2/cache/
deploy_bundle/web_app2/bug_reports/
web_app2/bug_reports/
*.zip
